%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%flex-spacebetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

%flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

%flex-justify-center {
  display: flex;
  justify-content: center;
}

$main-pink: #eb91e3;
